<div class="container">
  <p>1.Add a input field wihch updates property via two way binding</p>
  Username
  <input type="text" class="form-control" [(ngModel)]="username">
  {{username}}
   <p>Output the username property via string interpolation (in a paragraph below the input)</p>
   <p>Add a button which may only be clicked if the username is not an empty string</p>
   <p> upon clicking the button, the username should be reset to an empty string </p>
   <button class=" btn btn-danger" [disabled]="!username" (click)="resetUser()">reset Username</button>
</div>